.header__promo {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  font-size: clamp(0.75rem, 0.6634615385rem + 0.3846153846dvw, 1.125rem);
  padding-block: clamp(0.875rem, 0.7884615385rem + 0.3846153846dvw, 1.25rem);
  padding-inline: clamp(1.25rem, 1.1923076923rem + 0.2564102564dvw, 1.5rem);
  letter-spacing: clamp(-0.0225rem, -0.0199038462rem + -0.0115384615dvw, -0.03375rem);
  color: var(--color-gray-60);
  background-color: var(--color-dark);
  border-bottom: var(--border);
}
.header__promo-close {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 60% !important;
  padding: 0 !important;
  flex-shrink: 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  animation-name: scrolling-frames;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 6.25rem 12.5rem;
}
@keyframes scrolling-frames {
  to {
    box-shadow: 0 0 1rem 0 var(--color-dark-40);
  }
}
.header__wrapper {
  background-color: var(--color-dark-10);
}
.header__overlay {
  overflow: auto;
}
@media (width > 47.99875rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    justify-content: center;
    padding: 1rem;
    background-color: var(--color-dark-10);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
  }
}
.header__logo-icon {
  width: clamp(7.5rem, 6.6346153846rem + 3.8461538462dvw, 11.25rem);
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  padding-block: clamp(1.25rem, 1.1923076923rem + 0.2564102564dvw, 1.5rem);
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: clamp(0.5rem, 0.3846153846rem + 0.5128205128dvw, 1rem);
       column-gap: clamp(0.5rem, 0.3846153846rem + 0.5128205128dvw, 1rem);
}
@media (width > 47.99875rem) {
  .header__menu-list {
    height: clamp(2.5rem, 2.3557692308rem + 0.641025641dvw, 3.125rem);
  }
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.header__menu-item {
  height: 100%;
}
@media (width <= 47.99875rem) {
  .header__menu-item {
    height: 2.1875rem;
  }
}
.header__menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-inline: clamp(1rem, 0.8846153846rem + 0.5128205128dvw, 1.5rem);
}
.header__menu-link.is-active {
  border-radius: 0.625rem;
  border: var(--border);
  border-color: var(--color-dark-20);
  background: var(--color-dark);
  font-weight: 500;
  color: var(--color-light);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .header__menu-link.is-active:hover {
    border-color: var(--color-accent);
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__menu-link.is-active:active {
    border-color: var(--color-accent);
    color: var(--color-accent);
  }
}
@media (width <= 47.99875rem) {
  .header__menu-contact {
    width: 50%;
  }
}
@media (width <= 30.06125rem) {
  .header__menu-contact {
    width: 70%;
  }
}
.header__burger-button {
  width: 2.0625rem;
  height: 2.0625rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  row-gap: 0.375rem;
}
.header__burger-button-line {
  width: 100%;
  border-radius: 6.25rem;
  height: 0.1875rem;
  background-color: var(--color-light);
  content: "";
  transition-duration: var(--transition-duration);
}
.header__burger-button-line:last-child {
  width: 50%;
  align-self: end;
}
.header__burger-button.is-active .header__burger-button-line:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  rotate: 45deg;
}
.header__burger-button.is-active .header__burger-button-line:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  rotate: -45deg;
}
.header__burger-button.is-active .header__burger-button-line:last-child {
  width: 0;
}/*# sourceMappingURL=header.css.map */